/* generic flex container - will be used for all examples */
.flex-container {
  display: flex;
  background-color: #cccccc;
  border-radius: 6px;
}

/* flex row, column, and reverse-column */
.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.column-reverse {
  flex-direction: column-reverse;
}

/* flex wrap, nowrap, and wrap-reverse */
.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

/* flex flow, specifically 'row wrap' and 'column nowrap' */
.flex-flow-row-wrap {
  flex-flow: row wrap;
}

.flex-flow-row-nowrap {
  flex-flow: row nowrap;
}

.flex-flow-row-wrap-reverse {
  flex-flow: row wrap-reverse;
}

/* justify-content */
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

/* align-items */
.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

/* align-content */
.align-content-container {
  flex-wrap: wrap;
  overflow: scroll;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-center {
  align-content: center;
}

/* -------------------------------------------------------- */
/* heading and standard element styling */
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.intro {
  font-size: 19px;
  padding: 0 30px 20px 30px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 7px double #eae9e9;
}

.heading {
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding: 25px 20px 25px 20px;
  margin: 17px 0 0 0;
  background-color: #f5d1de;
}

.sub-heading {
  font-size: 17px;
  margin: 12px;
}

.example {
  margin-left: 0;
  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;
  background-color: #f5f5f5;
}

.section {
  margin: 0;
  padding: 0;
}

body {
  margin: 3vh 10vw 0 10vw;
}

hr {
  border-bottom: 1px solid #ececec;
}

hr.example {
  margin: 8px 0 8px 0;
}

p {
  padding: 0;
  margin: 0;
}

div {
  background-color: #ffffff;
  padding: 18px;
  font-size: 30px;
}

div.flex-container.align-baseline,
div.flex-container.align-center,
div.flex-container.align-start,
div.flex-container.align-end {
  height: 10rem;
}

.flex-container div {
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 7px;
  width: auto;
}

.no-wrap div {
  margin: auto;
  padding: auto;
}